.version.about_me /* version checker */
{
	color: #00001D;
	background-color: #7F1C9E;
}

#page
{
	z-index: 1;
	min-height: 1288.9999999999998px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #F0F2F4;
	padding-top: 11px;
	padding-bottom: 0px;
	width: 100%;
	max-width: 1678px;
	margin-left: auto;
	margin-right: auto;
}

#u1474
{
	z-index: 3;
	width: 563px;
	position: relative;
	margin-left: 50%;
	left: -262px;
}

#pu1458
{
	margin-right: -10000px;
	width: 61.46%;
	margin-left: 19.28%;
}

#u1458
{
	z-index: 4;
	width: 178px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -113.49999999999999px;
}

#u1456-4
{
	z-index: 6;
	position: relative;
	width: 246px;
	margin-right: -10000px;
	margin-top: 94px;
	margin-left: 50%;
	left: -281.5px;
}

#u1457-4
{
	z-index: 10;
	position: relative;
	width: 197px;
	margin-right: -10000px;
	margin-top: 94px;
	margin-left: 50%;
	left: 84px;
}

#menuu1480
{
	z-index: 14;
	width: 866px;
	margin-top: 40px;
	position: relative;
	margin-left: 50%;
	left: -433px;
}

#u1488
{
	width: 148px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
}

#u1491
{
	width: 148px;
	padding-bottom: 48px;
	position: relative;
}

#u1491:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u1491.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u1492
{
	height: 26px;
	width: 52px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 48px;
}

#u1509
{
	width: 183px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u1512
{
	width: 183px;
	padding-bottom: 48px;
	position: relative;
}

#u1512:active
{
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u1512.MuseMenuActive
{
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u1515
{
	height: 26px;
	width: 89px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 46px;
}

#u1502
{
	width: 190px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#u1505
{
	width: 190px;
	padding-bottom: 48px;
	position: relative;
}

#u1505:active
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1505.MuseMenuActive
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1507
{
	height: 26px;
	width: 95px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 47px;
}

#u1481
{
	width: 162px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 527px;
}

#u1484
{
	width: 162px;
	padding-bottom: 48px;
	position: relative;
}

#u1484:active
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u1484.MuseMenuActive
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u1487
{
	height: 26px;
	width: 67px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 47px;
}

#u1495
{
	width: 175px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 691px;
}

#u1498
{
	width: 175px;
	padding-bottom: 48px;
	position: relative;
}

#u1498:active
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u1498.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u1501
{
	height: 26px;
	width: 80px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 47px;
}

#u1241
{
	z-index: 40;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
	width: 42.02%;
	margin-left: 27.54%;
}

#u1241_img
{
	width: 100%;
}

#u401
{
	z-index: 2;
	height: 133px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u401-bw
{
	z-index: 2;
	margin-top: 206px;
	height: 133px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

