.version.portfolio /* version checker */
{
	color: #0000E9;
	background-color: #2A7B00;
}

#page
{
	z-index: 1;
	min-height: 1289.9499999999998px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #F0F2F4;
	padding-top: 10px;
	padding-bottom: 0px;
	width: 100%;
	max-width: 1678px;
	margin-left: auto;
	margin-right: auto;
}

#u1471
{
	z-index: 67;
	width: 561px;
	position: relative;
	margin-left: 50%;
	left: -261px;
}

#pu1432
{
	margin-right: -10000px;
	width: 61.86%;
	margin-left: 19.08%;
}

#u1432
{
	z-index: 68;
	width: 178px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -112px;
}

#u1431-4
{
	z-index: 70;
	position: relative;
	width: 246px;
	margin-right: -10000px;
	margin-top: 94px;
	margin-left: 50%;
	left: -281px;
}

#u1430-4
{
	z-index: 74;
	position: relative;
	width: 197px;
	margin-right: -10000px;
	margin-top: 94px;
	margin-left: 50%;
	left: 83px;
}

#menuu494
{
	z-index: 2;
	width: 866px;
	margin-top: 41px;
	position: relative;
	margin-left: 50%;
	left: -429px;
}

#u495
{
	width: 148px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
}

#u496
{
	width: 148px;
	padding-bottom: 48px;
	position: relative;
}

#u496:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u496.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u499
{
	height: 26px;
	width: 52px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 48px;
}

#u523
{
	width: 183px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u524
{
	width: 183px;
	padding-bottom: 48px;
	position: relative;
}

#u524:active
{
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u524.MuseMenuActive
{
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u527
{
	height: 26px;
	width: 89px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 46px;
}

#u502
{
	width: 190px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#u505
{
	width: 190px;
	padding-bottom: 48px;
	position: relative;
}

#u505:active
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u505.MuseMenuActive
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u507
{
	height: 26px;
	width: 95px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 47px;
}

#u509
{
	width: 162px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 527px;
}

#u510
{
	width: 162px;
	padding-bottom: 48px;
	position: relative;
}

#u510:active
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u510.MuseMenuActive
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u512
{
	height: 26px;
	width: 67px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 47px;
}

#u516
{
	width: 175px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 691px;
}

#u519
{
	width: 175px;
	padding-bottom: 48px;
	position: relative;
}

#u519:active
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u519.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u522
{
	height: 26px;
	width: 80px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 47px;
}

#u1207
{
	z-index: 64;
	width: 778px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	margin-left: 50%;
	left: -386px;
}

#pu1085-4
{
	margin-top: 5px;
	width: 100%;
}

#u1085-4
{
	z-index: 28;
	position: relative;
	width: 95px;
	margin-right: -10000px;
	margin-left: 50%;
	left: -377px;
}

#u1086-4
{
	z-index: 32;
	position: relative;
	width: 103px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 50%;
	left: -206px;
}

#u1087-4
{
	z-index: 36;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 50%;
	left: -28px;
}

#u1088-4
{
	z-index: 40;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 50%;
	left: 141px;
}

#u1089-4
{
	z-index: 44;
	position: relative;
	width: 119px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 50%;
	left: 292px;
}

#pu1090-4
{
	margin-top: 3px;
	width: 100%;
}

#u1090-4
{
	z-index: 48;
	position: relative;
	width: 126px;
	margin-right: -10000px;
	margin-left: 50%;
	left: -376px;
}

#u1091-4
{
	z-index: 52;
	position: relative;
	width: 157px;
	margin-right: -10000px;
	margin-left: 50%;
	left: -191px;
}

#u1092-4
{
	z-index: 56;
	position: relative;
	width: 174px;
	margin-right: -10000px;
	margin-left: 50%;
	left: 42px;
}

#u1093-4
{
	z-index: 60;
	position: relative;
	width: 135px;
	margin-right: -10000px;
	margin-left: 50%;
	left: 280px;
}

#u1262
{
	z-index: 78;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 45.89%;
	margin-left: 27.54%;
}

#u1262_img
{
	margin-right: -0.12987012987012986%;
	margin-bottom: -0.12987012987012986%;
	width: 100.13%;
}

#u1357
{
	z-index: 66;
	height: 133px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1357-bw
{
	z-index: 66;
	margin-top: 81px;
	height: 133px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

