.version.portfolio /* version checker */
{
	color: #000015;
	background-color: #6A3FB9;
}

#page
{
	z-index: 1;
	min-height: 960px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #F0F2F4;
	padding-bottom: 1px;
	width: 100%;
	max-width: 1678px;
	margin-left: auto;
	margin-right: auto;
}

#u2727
{
	z-index: 77;
	width: 1678px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1085px;
	left: 0.06%;
}

#pu1471
{
	margin-right: -10000px;
	margin-top: 10px;
	width: 51.61%;
	margin-left: 24.2%;
}

#u1471
{
	z-index: 66;
	width: 561px;
	position: relative;
	margin-left: 50%;
	left: -260.99999999999994px;
}

#pu1432
{
	margin-right: -10000px;
	width: 61.86%;
	margin-left: 19.08%;
}

#u1432
{
	z-index: 67;
	width: 178px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -112px;
}

#u1431-4
{
	z-index: 69;
	position: relative;
	width: 246px;
	margin-right: -10000px;
	margin-top: 94px;
	margin-left: 50%;
	left: -281px;
}

#u1430-4
{
	z-index: 73;
	position: relative;
	width: 197px;
	margin-right: -10000px;
	margin-top: 94px;
	margin-left: 50%;
	left: 83px;
}

#menuu494
{
	z-index: 2;
	width: 866px;
	margin-top: 41px;
	position: relative;
	margin-left: 50%;
	left: -428.99999999999994px;
}

#u495
{
	width: 148px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
}

#u496
{
	width: 148px;
	padding-bottom: 48px;
	position: relative;
}

#u496:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u496.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u499
{
	height: 26px;
	width: 52px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 48px;
}

#u523
{
	width: 183px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u524
{
	width: 183px;
	padding-bottom: 48px;
	position: relative;
}

#u524:active
{
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u524.MuseMenuActive
{
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u527
{
	height: 26px;
	width: 89px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 46px;
}

#u502
{
	width: 190px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#u505
{
	width: 190px;
	padding-bottom: 48px;
	position: relative;
}

#u505:active
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u505.MuseMenuActive
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u507
{
	height: 26px;
	width: 95px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 47px;
}

#u509
{
	width: 162px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 527px;
}

#u510
{
	width: 162px;
	padding-bottom: 48px;
	position: relative;
}

#u510:active
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u510.MuseMenuActive
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u512
{
	height: 26px;
	width: 67px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 47px;
}

#u516
{
	width: 175px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 691px;
}

#u519
{
	width: 175px;
	padding-bottom: 48px;
	position: relative;
}

#u519:active
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u519.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u522
{
	height: 26px;
	width: 80px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 47px;
}

#u1207
{
	z-index: 64;
	width: 785px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	margin-left: 50%;
	left: -389.99999999999994px;
}

#pu1085-4
{
	margin-top: 4px;
	width: 91.69%;
	margin-left: 4.16%;
}

#u1085-4
{
	z-index: 28;
	position: relative;
	width: 95px;
	margin-right: -10000px;
	margin-left: 50%;
	left: -380.99999999999994px;
}

#u1086-4
{
	z-index: 32;
	position: relative;
	width: 103px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 50%;
	left: -212.99999999999991px;
}

#u1087-4
{
	z-index: 36;
	position: relative;
	width: 64px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 50%;
	left: -31.999999999999915px;
}

#u1088-4
{
	z-index: 40;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 50%;
	left: 129.0000000000001px;
}

#u1089-4
{
	z-index: 44;
	position: relative;
	width: 119px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 50%;
	left: 295.00000000000006px;
}

#pu1090-4
{
	margin-top: 3px;
	width: 92.15%;
	margin-left: 3.93%;
}

#u1090-4
{
	z-index: 48;
	position: relative;
	width: 126px;
	margin-right: -10000px;
	margin-left: 50%;
	left: -379.99999999999994px;
}

#u1091-4
{
	z-index: 52;
	position: relative;
	width: 157px;
	margin-right: -10000px;
	margin-left: 50%;
	left: -185.99999999999994px;
}

#u1092-4
{
	z-index: 56;
	position: relative;
	width: 174px;
	margin-right: -10000px;
	margin-left: 50%;
	left: 44.00000000000006px;
}

#u1093-4
{
	z-index: 60;
	position: relative;
	width: 135px;
	margin-right: -10000px;
	margin-left: 50%;
	left: 283.00000000000006px;
}

#u1262
{
	z-index: 78;
	width: 770px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	margin-left: 50%;
	left: -377.99999999999994px;
}

#u1262_img
{
	margin-right: -1px;
	margin-bottom: -1px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

