/* print stylesheet for resume */ 


body {
    font-size: 12px;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    color: rgb(44,45,48);
    background-color: transparent;
}

a:link {
    color: rgb(44,45,48);
    text-decoration: none;
}
a:visited {
    color: rgb(32,32,32);
    text-decoration: none;
}

#container {
    overflow: auto;
    margin: auto;
    width: 700px;
    padding: 9px 32px;
}
    
h1 {
    font-size: 30px;
    font-family: "Raleway", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    color: rgb(44,45,48);
}
    
h2 {
    color: rgb(108,115,120);
}

h3 {
    color: rgb(108,115,120);
}

h4 {
    color: rgb(108,115,120);
}

dt {
    color: rgb(108,115,120);
}