.version.resume /* version checker */
{
	color: #0000E2;
	background-color: #EF4219;
}

#page
{
	z-index: 1;
	min-height: 1473px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #F0F2F4;
	width: 100%;
	max-width: 1678px;
	margin-left: auto;
	margin-right: auto;
}

#u401
{
	z-index: 2;
	width: 1678px;
	height: 65px;
	margin-bottom: -22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1430px;
}

#pu1474
{
	margin-right: -10000px;
	margin-top: 11px;
	width: 51.61%;
	margin-left: 24.2%;
}

#u1474
{
	z-index: 3;
	width: 563px;
	position: relative;
	margin-left: 50%;
	left: -261.99999999999994px;
}

#pu1458
{
	margin-right: -10000px;
	width: 61.46%;
	margin-left: 19.28%;
}

#u1458
{
	z-index: 4;
	width: 178px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -113.49999999999999px;
}

#u1456-4
{
	z-index: 6;
	position: relative;
	width: 246px;
	margin-right: -10000px;
	margin-top: 94px;
	margin-left: 50%;
	left: -281.5px;
}

#u1457-4
{
	z-index: 10;
	position: relative;
	width: 197px;
	margin-right: -10000px;
	margin-top: 94px;
	margin-left: 50%;
	left: 84px;
}

#pmenuu1480
{
	margin-top: 40px;
	width: 100%;
	margin-left: 0%;
}

#menuu1480
{
	z-index: 14;
	width: 866px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -432.99999999999994px;
}

#u1488
{
	width: 148px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
}

#u1491
{
	width: 148px;
	padding-bottom: 48px;
	position: relative;
}

#u1491:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u1491.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u1492
{
	height: 26px;
	width: 52px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 48px;
}

#u1509
{
	width: 183px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u1512
{
	width: 183px;
	padding-bottom: 48px;
	position: relative;
}

#u1512:active
{
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u1512.MuseMenuActive
{
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#u1515
{
	height: 26px;
	width: 89px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 46px;
}

#u1502
{
	width: 190px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#u1505
{
	width: 190px;
	padding-bottom: 48px;
	position: relative;
}

#u1505:active
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1505.MuseMenuActive
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1507
{
	height: 26px;
	width: 95px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 47px;
}

#u1481
{
	width: 162px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 527px;
}

#u1484
{
	width: 162px;
	padding-bottom: 48px;
	position: relative;
}

#u1484:active
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u1484.MuseMenuActive
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u1487
{
	height: 26px;
	width: 67px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 47px;
}

#u1495
{
	width: 175px;
	min-height: 74px;
	position: relative;
	margin-right: -10000px;
	left: 691px;
}

#u1498
{
	width: 175px;
	padding-bottom: 48px;
	position: relative;
}

#u1498:active
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u1498.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u1501
{
	height: 26px;
	width: 80px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
	left: 47px;
}

#u1251
{
	z-index: 40;
	width: 844px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	margin-left: 50%;
	left: -421.99999999999994px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 20px;
}

